@model IEnumerable<CoreMVC5_UsedBookProject.Models.AdministratorUser>
@{
    ViewData["Title"] = "管理員控制中心";
    Layout = "_LayoutAdminHome";
}

<h1>管理員控制中心</h1>

@if (User.Identity.IsAuthenticated)
{
    string email = User.Identity.Name;
    string[] segmentation = email.Split('@');
    string username = segmentation[0];

    <h2>你好: @username 歡迎來到管理員控制中心</h2>
}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="5" class="text-center btn-info">管理員資料列表</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Nickname)</th>
            <th>@Html.DisplayNameFor(m => m.PhoneNo)</th>
            <th>@Html.DisplayNameFor(m => m.Email)</th>
            <th>資料變更</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => m.Name)</td>
                <td>@Html.DisplayFor(x => m.Nickname)</td>
                <td>@Html.DisplayFor(x => m.PhoneNo)</td>
                <td>@Html.DisplayFor(x => m.Email)</td>
                <td>
                    <a asp-action="AdministratorEdit" asp-route-id="@m.Id" class="btn btn-info">編輯</a>
                    <a asp-action="AdministratorDetail" asp-route-id="@m.Id" class="btn btn-primary">詳細資料</a>
                    <a asp-action="AdministratorDelete" asp-route-id="@m.Id" class="btn btn-danger">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="AdministratorCreate" class="btn btn-warning">新增管理員</a>
</p>