<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>二手書交換平台</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/buttons.css" rel="stylesheet" />
    @RenderSection("topCSS",required:false)
    @RenderSection("topJS", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">二手書交換平台</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav d-flex flex-row flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark button-cover-nav" asp-area="" asp-controller="Home" asp-action="Index">主頁面</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark button-cover-nav" asp-area="" asp-controller="Home" asp-action="Privacy">隱私中心</a>
                        </li>
                        
                            <form class="form-inline my-2 my-lg-0" action="~/Site/SearchProductbyName" method="post">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="name">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark button-cover-nav" asp-area="" asp-controller="Seller" asp-action="Index">賣家中心</a>
                        </li>
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Buyer"))
                            {
                                <li class="nav-item">  <p class="nav-link text-dark button-cover-nav" id="nickname">@User.Claims.FirstOrDefault(c => c.Type.Contains("email")).Value</p></li>
                                <li class="nav-item">  <a href="@Url.Action("SignOut", "BuyerAccount")" class="nav-link text-dark button-cover-nav"><i class="bi bi-box-arrow-right"></i> 登出</a></li>
                            }
                        }
                        else
                        {
                            @*未登入*@
                            //登入按鈕+註冊
                            <li class="nav-item">  <a href="@Url.Action("Login", "BuyerAccount")" class="nav-link text-dark button-cover-nav">登入</a></li>
                            <li class="nav-item">  <a href="@Url.Action("RegisterUserName", "BuyerAccount")" class="nav-link text-dark button-cover-nav">註冊</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
        <div class="container-footer">
            <div class="container">
                &copy; 2023 - CoreMVC5_UsedBookProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">隱私中心</a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                @if (!User.IsInRole("Buyer") && !User.IsInRole("Seller"))
                {
                    <div class="nav-item-btn buttonpartial">
                        <partial name="_AdminLoginStatusPartial" />
                    </div>
                }
            }
            else
            {
                <div class="nav-item-btn buttonpartial">
                    <partial name="_AdminLoginStatusPartial" />
                </div>
            }
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/buttons.js"></script>
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
