<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icon/booktitle.ico" type="image/x-icon">
    <title>
        
        二手書交換平台
        </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/css/seller/all.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/buttons.css" rel="stylesheet" />
    <script src="~/lib/chart.js/chart.min.js"></script>
    <script src="~/lib/Ch"></script>
    <script src="~/js/seller/errorimg.js" asp-append-version="true"></script>
    @RenderSection("topCSS",required:false)
    @RenderSection("topJS", required: false)
</head>
<body style="overflow-x:hidden; max-width:100%;">

    <header>
        
        <nav class="bg-white border-bottom box-shadow d-flex px-3 flex-wrap" id="navbar">
            <div class="d-flex align-items-center justify-content-center">
                <label for="switch-aside" class="mb-0 hamber"><i class="bi bi-list hamber-i"></i></label><!--漢堡按鈕圖示-->
                <input type="checkbox" id="switch-aside" class="d-none" style="position: absolute; top: 0; left: 0;">
                <div class="aside-menu">
                    <partial name="_AsidePartial"></partial>
                </div>
            </div>
           @* <link rel="icon" href="/icon/book.ico" type="image/x-icon">*@
            <div class="d-flex align-items-center px-2"><a class="text-dark d-block text-decoration-none p-1" asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 20px;"><span class="fa fa-book"></span> <strong>二手書交換平台</strong></a></div>
            
            <p class="flex-grow-1"></p>
            <div class="d-flex align-items-center justify-content-center px-1">
                <label for="switch-search" class="mb-0 search"><i class="bi bi-search hamber-i"></i></label><!--漢堡按鈕圖示-->
                <input type="checkbox" id="switch-search" class="d-none" style="position: absolute; top: 0; left: 0;">
                <div class="search-menu">
                    <form class="form-inline flex-grow-1 px-2" action="~/Home/SearchProducts" method="get">
                        <input class="form-control mr-sm-2" type="search" placeholder="輸入書名或ISBN" id="searchInput" oninput="getPredictions()" aria-label="Search" name="name">
                        <div id="predictionList"></div>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
                    </form>
                    
                </div>
            </div>
            <partial name="_LoginStatusPartial" />
        </nav>
    </header>
    <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="bi bi-arrow-up"></i></button>
    <main role="main" class="pb-5">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted" style="background-color:white; margin-top:3px;">
        
        <div class="container-footer">
            <div class="container">
                &copy; 2023 - CoreMVC5_UsedBookProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">隱私中心</a>
            </div>
            
            @if (User.Identity.IsAuthenticated)
            {
                @if (!User.IsInRole("Buyer") && !User.IsInRole("Seller"))
                {
                    <div class="nav-item-btn buttonpartial">
                        <partial name="_AdminLoginStatusPartial" />
                    </div>
                }
            }
            else
            {
                <div class="nav-item-btn buttonpartial">
                    <partial name="_AdminLoginStatusPartial" />
                </div>
            }
            
        </div>

    </footer>
    <script>
        function getPredictions() {
            var searchText = $('#searchInput').val();
            if (searchText.length > 0) {
                $.ajax({
                    url: '/Home/GetPredictions',
                    type: 'GET',
                    data: { searchText: searchText },
                    success: function (data) {
                        $('#predictionList').html(data);
                    }
                });
            } else {
                $('#predictionList').empty();
            }
        }</script>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/buttons.js"></script>
    <script src="~/js/seller/all.js" asp-append-version="true"></script>
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
