@{
    var route = ViewContext.RouteData;
    string controller = route.Values["controller"] != null ? route.Values["controller"].ToString() : "";
    string action = route.Values["action"] != null ? route.Values["action"].ToString() : "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 二手書交換平台</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link href="~/css/seller/all.css" asp-append-version="true" rel="stylesheet" />
    <script src="~/js/seller/errorimg.js" asp-append-version="true"></script>
    @RenderSection("topCSS",required:false)
    @RenderSection("topJS", required: false)
</head>
<body>
    <header>
        <partial name="_NavbarPartial"></partial>
    </header>
    <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="bi bi-arrow-up"></i></button>
    <noscript>
        <h1 class="text-center">此網頁需要支援 JavaScript 才能正確運行，請先至你的瀏覽器設定中開啟 JavaScript。</h1>
        <style>
            main {
                display: none;
            }
        </style>
    </noscript>
    <main role="main" id="main" style="padding-bottom: 75px;">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CoreMVC5_UsedBookProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/seller/all.js" asp-append-version="true"></script>
</body>
</html>
