<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icon/booktitle.ico" type="image/x-icon">
    <title>二手書交換平台 - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/css/seller/all.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/buttons.css" rel="stylesheet" />
    @RenderSection("topCSS",required:false)
    @RenderSection("topJS", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span class="fa fa-book"></span> <strong>二手書交換平台</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 flex-wrap justify-content-between">
                        <partial name="_NavItemPartial"></partial>
                        <li class="nav-item p-2 w-100 order-sm-2">
                            <form class="form-inline w-100" action="~/Home/SearchProducts" method="get">
                                <div class="d-flex w-100">
                                    <input class="form-control mr-sm-2 align-self-center w-100" type="search" placeholder="輸入書名或ISBN" id="searchInput" oninput="getPredictions()" aria-label="Search" name="name">
                                    <div id="predictionList"></div>
                                    <button class="btn btn-outline-success my-2 my-sm-0" style="width: 50px;" type="submit">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="bi bi-arrow-up"></i></button>
    <noscript>
        <h1 class="text-center">此網頁需要支援 JavaScript 才能正確運行，請先至你的瀏覽器設定中開啟 JavaScript。</h1>
        <style>
            main {
                display: none;
            }
        </style>
    </noscript>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted" style="background-color:white; margin-top:3px;">
        <div class="container-footer justify-content-between">
            <div class="px-2">
                &copy; 2023 - CoreMVC5_UsedBookProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">隱私中心</a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                @if (!User.IsInRole("User"))
                {
                            <div class="nav-item-btn buttonpartial">
                                <partial name="_AdminLoginStatusPartial" />
                            </div>
                }
            }
            else
            {
                    <div class="nav-item-btn buttonpartial">
                        <partial name="_AdminLoginStatusPartial" />
                    </div>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/buttons.js"></script>
    <script src="~/js/seller/all.js" asp-append-version="true"></script>
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
