<ul class="navbar-nav">
    @if(User.Identity.IsAuthenticated)
    {
        @*已登入*@
        //顯示使用者名稱+登出按鈕
        <li class="nav-item p-1"><a href="@Url.Action("Details", "Account")" class="nav-link text-dark me-2" id="nickname">@User.Claims.FirstOrDefault(c => c.Type.Contains("email")).Value</a></li>
        <li class="nav-item p-1"><a href="@Url.Action("SignOut", "Account")" class="nav-link text-dark">登出</a></li>
    }
    else
    {
        @*未登入*@
        //登入按鈕+註冊
        <li class="nav-item p-1"><a href="@Url.Action("Login", "Account")" class="nav-link text-dark me-2">登入</a></li>
        <li class="nav-item p-1"><a href="@Url.Action("Register", "Account")" class="nav-link text-dark">註冊</a></li>
    }
</ul>
