@using Microsoft.AspNetCore.Http;
@{
    var route = ViewContext.RouteData;
    string controller = route.Values["controller"] != null ? route.Values["controller"].ToString() : "";
    string action = route.Values["action"] != null ? route.Values["action"].ToString() : "";
}
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("User"))
    {
        @*已登入*@
        //顯示使用者名稱+登出按鈕
        <li class="d-flex align-items-center justify-content-center order-sm-1">
            <label for="switch-login" class="mb-0 px-2" id="login" onclick="loginMenuFull()">
                <img class="p-2" src="/Images/Users/@User.Claims.FirstOrDefault(c => c.Type.Contains("nameidentifier")).Value/@User.Claims.FirstOrDefault(c => c.Type.Contains("givenname")).Value" asp-append-version="true" alt="img" style="border-radius: 50%; width: 100%; aspect-ratio: 1 / 1; max-width: 50px; overflow: hidden; object-fit: cover;" onerror="this.src='/DeafultPictures/EmptyUserIcon.png';">
                <a id="login-nickname" class="px-2">
                    @User.Identity.Name
                </a>
            </label><!--漢堡按鈕圖示-->
            <input type="checkbox" id="switch-login" class="d-none" style="position: absolute; top: 0; right: 0;">
            <div class="login-menu-full">
                <div class="login-menu">
                    <div class="mb-0 p-3 text-center account-p">
                        <img class="p-2" src="/Images/Users/@User.Claims.FirstOrDefault(c => c.Type.Contains("nameidentifier")).Value/@User.Claims.FirstOrDefault(c => c.Type.Contains("givenname")).Value" asp-append-version="true" alt="img" style="border-radius: 50%; width: 100%; aspect-ratio: 1 / 1; max-width: 50px; overflow: hidden; object-fit: cover;" onerror="this.src='/DeafultPictures/EmptyUserIcon.png';">
                        @User.Identity.Name
                    </div>
                    <a href="@Url.Action("Details", "Account")" class="d-block p-3 account-a text-decoration-none"><i class="bi bi-gear"></i> 設定</a>
                    <a href="@Url.Action("SignOut", "Account")" class="d-block p-3 account-a text-decoration-none"><i class="bi bi-box-arrow-right"></i> 登出</a>
                </div>
            </div>
        </li>
    }
}
else
{
    <li class="nav-item px-2 aside-link order-sm-1">
        <a class="nav-link text-dark" href="@Url.Action("Login", "Account", new {})">登入</a>
    </li>
}
