@model CoreMVC5_UsedBookProject.Models.OrderByBarter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderByBarter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenyReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenyReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderByBarterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
