@using CoreMVC5_UsedBookProject.ViewModels;
@model BarterOrderViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "商品詳情";
}
<div class="container-fluid">
    <h1>訂單詳情</h1>
    <table class="container-fluid">
        <tr><td>@Html.DisplayNameFor(model => model.OrderId)</td><td>@Model.OrderId</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.SellerId)</td><td>@Model.SellerId</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.BuyerId)</td><td>@Model.BuyerId</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.SellerName)</td><td>@Model.SellerName</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.BuyerName)</td><td>@Model.BuyerName</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.DenyReason)</td><td>@Model.DenyReason</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.SellerProductId)</td><td>@Model.SellerProductId</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.BuyerProductId)</td><td>@Model.BuyerProductId</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.Trade)</td><td>@Model.Trade</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.Status)</td><td>@Model.Status</td></tr>
    </table>
    <br />
    <div class="gap-2">
        @if (Model.Status == "待確認")
        {
            <form action="~/Seller/BarterOrderDetails" method="post">
                <input type="hidden" name="OrderId" value="@Model.OrderId">
                <input type="hidden" name="trade" value="@Model.Trade">
                <button type="submit" class="btn btn-danger mt-2" name="submit" value="拒絕交換">拒絕交換</button>
            </form>
        }
        @if (Model.Status == "待取消")
        {
            <form action="~/Seller/BarterOrderDetails" method="post">
                <input type="hidden" name="OrderId" value="@Model.OrderId">
                <input type="hidden" name="trade" value="@Model.Trade">
                <button type="submit" class="btn btn-danger mt-2" name="submit" value="取消訂單">取消訂單</button>
            </form>
        }
        <button type="button" onclick="history.go(-1)" class="btn btn-secondary disable-onbeforeunload mt-2">取消</button>
    </div>
    @if (Model.Products.Count > 0 && Model.Status == "待確認")
    {
        <h2 class="text-center my-5">對方已上架書籍</h2>
        @foreach (var item in Model.Products)
        {
            <div class="p-2 d-flex flex-column flex-md-row align-items-center product-card my-1 gap-5px">
                <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; background-color: white; max-width: 200px;">
                    <img src="../Images/Products/@item.ProductId/@item.Image1" asp-append-version="true" class="m-auto" alt="@item.Title" onerror="errorLoad(this)" />
                </div>
                <table class="container-fluid">
                    <tr><td>@Html.DisplayNameFor(model => model.ProductId)</td><td>@item.ProductId</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Title)</td><td>@item.Title</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.ISBN)</td><td>@item.ISBN</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Author)</td><td>@item.Author</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Trade)</td><td>@item.Trade</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Status)</td><td>@item.Status</td></tr>
                </table>
                <div class="action d-flex flex-row flex-md-column justify-content-between align-items-center">
                    <a href="@Url.Action("Details", "Buyer", new {ProductId = item.ProductId})" class="btn btn-info mt-2"><i class="bi bi-info-circle"></i> 詳情</a>
                    @if (Model.Status == "待確認")
                    {
                        <form action="~/Seller/BarterOrderDetails" method="post">
                            <input type="hidden" name="OrderId" value="@Model.OrderId">
                            <input type="hidden" name="trade" value="@Model.Trade">
                            <input type="hidden" name="ProductId" value="@item.ProductId">
                            <button type="submit" class="btn btn-primary mt-2" name="submit" value="接受與此書交換">接受與此書交換</button>
                        </form>
                    }
                </div>
            </div>
        }
    }
    else if (Model.Status == "待確認")
    {
        <h2 class="text-center my-5">沒有符合的商品</h2>
    }
</div>
@section topCSS{
    <link href="~/css/seller/mysales.css" asp-append-version="true" rel="stylesheet" />
}