@using CoreMVC5_UsedBookProject.ViewModels;
@model BarterOrderViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "交換訂單詳情";
}
<div class="container-fluid">
    <h1>交換訂單詳情</h1>
    <div class="sexyborder">
        <table class="fancytable">
            <thead>
                <tr class="headerrow"><td style="width: 170px;">使用者名稱</td><td style="width: 150px;">圖片封面</td><td>書名</td><td style="width: 150px;">操作</td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p class="text-left">我的商品<br>@Model.SellerName</p>
                    </td>
                    <td>
                        <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; max-width: 200px; background-color: white;">
                            <img src=@($"https://cdnec.sanmin.com.tw/product_images/{Model.SellerISBN.Substring(3,3)}/{Model.SellerISBN.Substring(3,9)}.jpg") asp-append-version="true" class="m-auto" alt="@Model.SellerTitle" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" />
                        </div>
                    </td>
                    <td>
                        <p title="@Model.SellerTitle" class="text-left">@Model.SellerTitle</p>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Buyer", new {ProductId = Model.SellerProductId})" class="btn btn-outline-info p-3 my-1"><i class="bi bi-info-circle"></i> 商品詳情</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-left">對方的商品<br>@Model.BuyerName</p>
                    </td>
                    <td>
                        @if (Model.BuyerISBN != "1234567891234")
                        {
                            <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; background-color: white; max-width: 200px; background-color: white;">
                                <img src=@($"/DeafultPictures/DeafultBookPicture.jpg") asp-append-version="true" class="m-auto" alt="@Model.BuyerTitle" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" />
                            </div>
                        }
                        else
                        {
                            <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; background-color: white; max-width: 200px; background-color: white;">
                                <img src=@($"https://cdnec.sanmin.com.tw/product_images/{Model.BuyerISBN.Substring(3,3)}/{Model.BuyerISBN.Substring(3,9)}.jpg") asp-append-version="true" class="m-auto" alt="@Model.BuyerTitle" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" />
                            </div>
                        }
                    </td>
                    <td>
                        <p title="@Model.BuyerTitle" class="text-left">@Model.BuyerTitle</p>
                    </td>
                    <td>
                        @if (Model.BuyerISBN != "1234567891234")
                        {
                            <a href="@Url.Action("Details", "Buyer", new {ProductId = Model.BuyerProductId})" class="btn btn-outline-info p-3"><i class="bi bi-info-circle"></i> 商品詳情</a>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="sexyborder">
        <table class="fancytable">
            <thead>
                <tr class="headerrow"><td style="width: 150px;">訂單狀態</td><td>@Html.DisplayNameFor(model => model.DenyReason)</td><td style="width: 150px;">操作</td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p class="text-left">@Model.Status</p>
                    </td>
                    <td>
                        <p>@Model.DenyReason</p>
                    </td>
                    <td>
                        @if (Model.Status == "待確認")
                        {
                            <form action="~/Seller/BarterOrderDetails" method="post">
                                <input type="hidden" name="OrderId" value="@Model.OrderId">
                                <input type="hidden" name="trade" value="@Model.Trade">
                                <button type="submit" class="btn btn-outline-danger p-3 my-1" name="submit" value="拒絕交換">拒絕交換</button>
                            </form>
                        }
                        @if (Model.Status == "待取消")
                        {
                            <form action="~/Seller/BarterOrderDetails" method="post">
                                <input type="hidden" name="OrderId" value="@Model.OrderId">
                                <input type="hidden" name="trade" value="@Model.Trade">
                                <button type="submit" class="btn btn-outline-danger p-3 my-1" name="submit" value="取消訂單">取消訂單</button>
                            </form>
                        }
                        <button type="button" onclick="history.go(-1)" class="btn btn-outline-secondary disable-onbeforeunload p-3 my-1">返回</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @if(Model.Status == "待確認")
    {
        <h3 class="my-1">下拉畫面選擇要交換的書籍</h3>
        <h3 class="my-1">對方已上架書籍</h3>
        <div class="sexyborder">
            <table class="fancytable">
                <thead>
                    <tr class="headerrow"><td style="width: 150px;">圖片封面</td><td>書名</td><td style="width: 150px;">操作</td></tr>
                </thead>
                <tbody>
                    @if (Model.Products.Count > 0)
                    {
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>
                                    <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; max-width: 200px; background-color: white;">
                                        <img src=@($"https://cdnec.sanmin.com.tw/product_images/{item.ISBN.Substring(3, 3)}/{item.ISBN.Substring(3, 9)}.jpg") asp-append-version="true" class="m-auto" alt="@item.Title" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" />
                                    </div>
                                </td>
                                <td>
                                    <p title="@item.Title" class="text-left">@item.Title</p>
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", "Buyer", new {ProductId = item.ProductId})" class="btn btn-outline-info p-3 my-1"><i class="bi bi-info-circle"></i> 詳情</a>
                                    @if (Model.Status == "待確認")
                                    {
                                        <form action="~/Seller/BarterOrderDetails" method="post">
                                            <input type="hidden" name="OrderId" value="@Model.OrderId">
                                            <input type="hidden" name="trade" value="@Model.Trade">
                                            <input type="hidden" name="ProductId" value="@item.ProductId">
                                            <button type="submit" class="btn btn-outline-primary p-3 my-1" name="submit" value="接受與此書交換">接受與此書交換</button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; max-width: 200px; background-color: white;">
                                    <img src=@($"/DeafultPictures/DeafultBookPicture.jpg") asp-append-version="true" class="m-auto" alt="Empty" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" />
                                </div>
                            </td>
                            <td>
                                <h2 title="沒有商品在列表中" class="text-left">沒有商品在列表中</h2>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
@section topCSS{
    <link href="~/css/seller/mysales.css" asp-append-version="true" rel="stylesheet" />
}