@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "首頁";
}

<div class="container-fluid pb-5">
    <h1>待辦事項清單</h1>
    <h2><strong>買賣</strong>待處理事項</h2>
    <div class="row">
        <div class="col-4 px-1 my-1">
            <div class="py-2" style="@(Model[0]["待確認"] > 0 ? "border: 1px solid red;" : "border: 1px solid black;") background-color: #80808025;">
                <p class="text-center" style="@(@Model[0]["待確認"] > 0 ? "color: red;" : "")">@Model[0]["待確認"]</p>
                <p class="text-center">待確認訂單</p>
            </div>
        </div>
        <div class="col-4 px-1 my-1">
            <div class="py-2" style="@(Model[0]["已成立"] > 0 ? "border: 1px solid red;" : "border: 1px solid black;") background-color: #80808025;">
                <p class="text-center" style="@(@Model[0]["已成立"] > 0 ? "color: red;" : "")">@Model[0]["已成立"]</p>
                <p class="text-center">已成立訂單</p>
            </div>
        </div>
        <div class="col-4 px-1 my-1">
            <div class="py-2" style="@(Model[0]["待取消"] > 0 ? "border: 1px solid red;" : "border: 1px solid black;") background-color: #80808025;">
                <p class="text-center" style="@(@Model[0]["待取消"] > 0 ? "color: red;" : "")">@Model[0]["待取消"]</p>
                <p class="text-center">待取消訂單</p>
            </div>
        </div>
    </div>
    <h2><strong>交換</strong>待處理事項</h2>
    <div class="row">
        <div class="col-4 px-1 my-1">
            <div class="py-2" style="@(Model[1]["待確認"] > 0 ? "border: 1px solid red;" : "border: 1px solid black;") background-color: #80808025;">
                <p class="text-center" style="@(@Model[1]["待確認"] > 0 ? "color: red;" : "")">@Model[1]["待確認"]</p>
                <p class="text-center">待確認訂單</p>
            </div>
        </div>
        <div class="col-4 px-1 my-1">
            <div class="py-2" style="@(Model[1]["已成立"] > 0 ? "border: 1px solid red;" : "border: 1px solid black;") background-color: #80808025;">
                <p class="text-center" style="@(@Model[1]["已成立"] > 0 ? "color: red;" : "")">@Model[1]["已成立"]</p>
                <p class="text-center">已成立訂單</p>
            </div>
        </div>
        <div class="col-4 px-1 my-1">
            <div class="py-2" style="@(Model[1]["待取消"] > 0 ? "border: 1px solid red;" : "border: 1px solid black;") background-color: #80808025;">
                <p class="text-center" style="@(@Model[1]["待取消"] > 0 ? "color: red;" : "")">@Model[1]["待取消"]</p>
                <p class="text-center">待取消訂單</p>
            </div>
        </div>
    </div>
</div>