@using CoreMVC5_UsedBookProject.ViewModel;
@model MyProductsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = $"我的商品({ViewBag.trade})";
}

<div class="container-fluid pb-5 gap-10px">
    <h1>我的商品(@ViewBag.trade)</h1>
    <p class="my-3">新增商品上限 <span style="@(Model.ProductNewLimit[0] >= Model.ProductNewLimit[1] ? "color: red;" : "color: black;")">@(Model.ProductNewLimit[0]) / @(Model.ProductNewLimit[1])</span></p>
    <div class="d-flex my-3 gap-10px">
        <a href="@Url.Action("Create", "Seller", new {})" class="btn @(Model.ProductNewLimit[0] >= Model.ProductNewLimit[1] ? "btn-secondary" : "btn-primary")" style="@(Model.ProductNewLimit[0] >= Model.ProductNewLimit[1] ? "pointer-events: none;" : "")"><i class="bi bi-plus-circle"></i> 新增商品</a>
        <a type="button" href="https://isbn.ncl.edu.tw/NEW_ISBNNet/H30_SearchBooks.php?&Pact=DisplayAll4Simple" value="library" target="_blank" class="btn btn-primary">前往國家圖書館</a>
    </div>
    <ul class="nav nav-pills my-3 gap-10px status">
        <li class="nav-item d-flex">
            <a href="@Url.Action("MyProducts", "Seller", new {status = "全部", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "全部" ? "color: red; border-bottom: 2px solid red;" : "")">全部</a>
            <span style="color: red;">@Model.ProductsCount["全部"] </span>
        </li>
        <li class="nav-item d-flex">
            <a href="@Url.Action("MyProducts", "Seller", new {status = "未上架", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "未上架" ? "color: red; border-bottom: 2px solid red;" : "")">未上架</a>
            <span style="color: red;">@Model.ProductsCount["未上架"] </span>
        </li>
        <li class="nav-item d-flex">
            <a href="@Url.Action("MyProducts", "Seller", new {status = "待審核", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "待審核" ? "color: red; border-bottom: 2px solid red;" : "")">審核中</a>
            <span style="color: red;">@Model.ProductsCount["待審核"] </span>
        </li>
        <li class="nav-item d-flex">
            <a href="@Url.Action("MyProducts", "Seller", new {status = "已上架", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "已上架" ? "color: red; border-bottom: 2px solid red;" : "")">架上商品</a>
            <span style="color: red;">@Model.ProductsCount["已上架"] </span>
        </li>
        <li class="nav-item d-flex">
            <a href="@Url.Action("MyProducts", "Seller", new {status = "已售完", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "已售完" ? "color: red; border-bottom: 2px solid red;" : "")">已售完</a>
            <span style="color: red;">@Model.ProductsCount["已售完"] </span>
        </li>
        <li class="nav-item d-flex">
            <a href="@Url.Action("MyProducts", "Seller", new {status = "封禁", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "封禁" ? "color: red; border-bottom: 2px solid red;" : "")">違規</a>
            <span style="color: red;">@Model.ProductsCount["封禁"] </span>
        </li>
        <li class="nav-item d-flex">
            <a href="@Url.Action("MyProducts", "Seller", new {status = "刪除", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "刪除" ? "color: red; border-bottom: 2px solid red;" : "")">刪除</a>
            <span style="color: red;">@Model.ProductsCount["刪除"] </span>
        </li>
    </ul>
    @if (Model.Products.Count > 0)
    {
        @foreach (var item in Model.Products)
        {
            <div class="p-2 d-flex flex-column flex-md-row align-items-center product-card my-1 gap-5px">
                <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; background-color: white; max-width: 200px;">
                    <img src="../Images/@item.ProductId/@item.Image1" class="m-auto" alt="@item.Title" />
                </div>
                <table class="container-fluid">
                    <tr><td>@Html.DisplayNameFor(model => model.Product.ProductId)</td><td>@item.ProductId</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Product.Title)</td><td>@item.Title</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Product.ISBN)</td><td>@item.ISBN</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Product.Author)</td><td>@item.Author</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Product.UnitPrice)</td><td>以物易物</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Product.Status)</td><td>@item.Status</td></tr>
                </table>
                <div class="action d-flex flex-row flex-md-column justify-content-between align-items-center">
                    <a href="@Url.Action("Details", "Seller", new {ProductId = item.ProductId})" class="btn btn-info mt-2"><i class="bi bi-info-circle"></i> 詳情</a>
                    @if (item.Status == "已上架" || item.Status == "未上架")
                    {
                        <a href="@Url.Action("Edit", "Seller", new {ProductId = item.ProductId})" class="btn btn-warning mt-2"><i class="bi bi-pencil-square"></i> 編輯</a>
                    }
                    @if (item.Status == "已上架" || item.Status == "未上架")
                    {
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#staticBackdrop">
                            <i class="bi bi-trash"></i> 普通刪除
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">確認刪除?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        確認移至刪除區?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <a href="@Url.Action("Delete", "Seller", new {ProductId = item.ProductId, Trade = item.Trade})" class="btn btn-danger mt-2"><i class="bi bi-trash"></i> 刪除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (item.Status != "已上架" && item.Status != "未上架")
                    {
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#staticBackdrop2">
                            <i class="bi bi-trash"></i> 永久刪除
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop2" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">確認刪除?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        確認永久刪除?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <a href="@Url.Action("PermanentDelete", "Seller", new {ProductId = item.ProductId, Trade = item.Trade})" class="btn btn-danger">確認刪除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
    else{
        <h2 class="text-center my-5">沒有符合的商品</h2>
    }
    <partial name="_NowPageMyProducts" />
</div>
@section topCSS{
    <link href="~/css/seller/myproducts.css" rel="stylesheet" />
}
@section endJS{
    <script src="~/js/seller/reloadbydatetime.js"></script>
}