@using CoreMVC5_UsedBookProject.ViewModels;
@model MySalesViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = $"{(ViewBag.Trade == "交換" ? "交換" : "買賣")}銷售";
}

<div class="container-fluid">
    <h1>@(ViewBag.Trade == "交換" ? "交換" : "買賣")銷售</h1>
    <div class="d-flex justify-content-between my-3">
        <a href="@Url.Action("MySales", "Seller", new {status = "全部", trade = ViewBag.trade})" class="text-decoration-none btn-status-custom" style="@(Model.StatusPage == "全部" ? "border: 2px solid red;" : "")">
            <div>
                <span>全部</span>
                <span>全部 @Model.OrdersCount["全部"]</span>
            </div>
        </a>
        <a href="@Url.Action("MySales", "Seller", new {status = "待確認", trade = ViewBag.trade})" class="text-decoration-none btn-status-custom" style="@(Model.StatusPage == "待確認" ? "border: 2px solid red;" : "")">
            <div>
                <span>待確認</span>
                <span>待確認 @Model.OrdersCount["待確認"]</span>
            </div>
        </a>
        <a href="@Url.Action("MySales", "Seller", new {status = "已成立", trade = ViewBag.trade})" class="text-decoration-none btn-status-custom" style="@(Model.StatusPage == "已成立" ? "border: 2px solid red;" : "")">
            <div>
                <span>已成立</span>
                <span>已成立 @Model.OrdersCount["已成立"]</span>
            </div>
        </a>
        <a href="@Url.Action("MySales", "Seller", new {status = "不成立", trade = ViewBag.trade})" class="text-decoration-none btn-status-custom" style="@(Model.StatusPage == "不成立" ? "border: 2px solid red;" : "")">
            <div>
                <span>不成立</span>
                <span>不成立 @Model.OrdersCount["不成立"]</span>
            </div>
        </a>
        <a href="@Url.Action("MySales", "Seller", new {status = "已完成", trade = ViewBag.trade})" class="text-decoration-none btn-status-custom" style="@(Model.StatusPage == "已完成" ? "border: 2px solid red;" : "")">
            <div>
                <span>已完成</span>
                <span>已完成 @Model.OrdersCount["已完成"]</span>
            </div>
        </a>
        <a href="@Url.Action("MySales", "Seller", new {status = "待取消", trade = ViewBag.trade})" class="text-decoration-none btn-status-custom" style="@(Model.StatusPage == "待取消" ? "border: 2px solid red;" : "")">
            <div>
                <span>待取消</span>
                <span>待取消 @Model.OrdersCount["待取消"]</span>
            </div>
        </a>
    </div>
    <div class="d-flex justify-content-between flex-wrap">
        @if (Model.Orders.Count > 0 && ViewBag.Trade == "買賣")
        {
            @foreach (var item in Model.Orders)
            {
                <div class="p-2 product-card my-1">
                    <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; max-width: 200px; background-color: white;">
                        <img src=@($"https://cdnec.sanmin.com.tw/product_images/{item.SellerISBN.Substring(3, 3)}/{item.SellerISBN.Substring(3, 9)}.jpg") asp-append-version="true" class="m-auto" alt="@item.SellerTitle" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" />
                    </div>
                    <div class="container-fluid my-2">
                        <h2 title="@item.SellerTitle">@item.SellerTitle</h2>
                        <h3>@item.BuyerName</h3>
                        <h3>NT$@(decimal.Round(item.SellerUnitPrice, 0) == 0 ? "" : decimal.Round(item.SellerUnitPrice, 0))</h3>
                        <p><span>@Html.DisplayNameFor(model => model.Order.SellerISBN) </span><span>@item.SellerISBN</span></p>
                        <p><span>@Html.DisplayNameFor(model => model.Order.DenyReason) </span><span>@item.DenyReason</span></p>
                    </div>
                    <div class="action d-flex justify-content-around align-items-center">

                        <a href="@Url.Action("Details", "Seller", new {ProductId = item.SellerProductId})" class="btn btn-outline-info p-3"><i class="bi bi-info-circle"></i> 商品詳情</a>
                        <a href="@Url.Action("OrderDetails", "Seller", new {OrderId = item.OrderId, trade = ViewBag.trade})" class="btn btn-outline-info p-3"><i class="bi bi-info-circle"></i> 訂單詳情</a>
                    </div>
                </div>
            }
        }
        else if (Model.BarterOrders.Count > 0 && ViewBag.Trade == "交換")
        {
            @foreach (var item in Model.BarterOrders)
            {
                <div class="p-2 product-card my-1">
                    <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; background-color: white; max-width: 200px; background-color: white;">
                        <img src=@($"https://cdnec.sanmin.com.tw/product_images/{item.SellerISBN.Substring(3, 3)}/{item.SellerISBN.Substring(3, 9)}.jpg") asp-append-version="true" class="m-auto" alt="@item.SellerTitle" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" />
                    </div>
                    <div class="container-fluid my-2">
                        <h2 title="@item.SellerTitle">@item.SellerTitle</h2>
                        <h3>@item.BuyerName</h3>
                        <h3>&nbsp;</h3>
                        <p><span>@Html.DisplayNameFor(model => model.Order.SellerISBN) </span><span>@item.SellerISBN</span></p>
                        <p><span>@Html.DisplayNameFor(model => model.Order.DenyReason) </span><span>@item.DenyReason</span></p>
                    </div>
                    <div class="action d-flex justify-content-around align-items-center">
                        <a href="@Url.Action("Details", "Seller", new {ProductId = item.SellerProductId})" class="btn btn-outline-info p-3"><i class="bi bi-info-circle"></i> 商品詳情</a>
                        <a href="@Url.Action("BarterOrderDetails", "Seller", new {OrderId = item.OrderId, trade = ViewBag.trade})" class="btn btn-outline-info p-3"><i class="bi bi-info-circle"></i> 訂單詳情</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="p-2 d-flex align-items-center product-card my-1">
                <h2 class="my-5">沒有訂單在列表中</h2>
            </div>
        }
    </div>
    <partial name="_NowPageMySalesPartial" />
</div>
@section topCSS{
    <link href="~/css/seller/mysales.css" asp-append-version="true" rel="stylesheet" />
}