@using CoreMVC5_UsedBookProject.ViewModels;
@model OrderViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "商品詳情";
}
<div class="container-fluid">
    <h1>訂單詳情</h1>
    <table class="container-fluid">
        <tr><td>@Html.DisplayNameFor(model => model.OrderId)</td><td>@Model.OrderId</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.SellerId)</td><td>@Model.SellerId</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.BuyerId)</td><td>@Model.BuyerId</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.SellerName)</td><td>@Model.SellerName</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.BuyerName)</td><td>@Model.BuyerName</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.DenyReason)</td><td>@Model.DenyReason</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.ProductId)</td><td>@Model.ProductId</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.Trade)</td><td>@Model.Trade</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.UnitPrice)</td><td>@(decimal.Round(Model.UnitPrice, 0) == 0 ? "" : decimal.Round(Model.UnitPrice, 0))</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.Status)</td><td>@Model.Status</td></tr>
    </table>
    <br />
    <div class="gap-2">
        @if (Model.Status == "待確認")
        {
            <form action="~/Seller/OrderDetails" method="post">
                <input type="hidden" name="OrderId" value="@Model.OrderId">
                <input type="hidden" name="trade" value="@Model.Trade">
                <button type="submit" class="btn btn-danger mt-2" name="submit" value="接受交易">接受交易</button>
                <button type="submit" class="btn btn-danger mt-2" name="submit" value="拒絕交易">拒絕交易</button>
            </form>
        }
        @if (Model.Status == "待取消")
        {
            <form action="~/Seller/OrderDetails" method="post">
                <input type="hidden" name="OrderId" value="@Model.OrderId">
                <input type="hidden" name="trade" value="@Model.Trade">
                <button type="submit" class="btn btn-danger mt-2" name="submit" value="取消訂單">取消訂單</button>
            </form>
        }
        <button type="button" onclick="history.go(-1)" class="btn btn-secondary disable-onbeforeunload">取消</button>
    </div>
</div>