@using CoreMVC5_UsedBookProject.ViewModels;
@model ProductEditViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var route = ViewContext.RouteData;
    string controller = route.Values["controller"].ToString();
    string action = route.Values["action"].ToString();
    string Trade = Model.Trade;
}

<table class="table">
    <thead>
        <tr>
            <th colspan="2"><h2>銷售資訊</h2></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Status)</td>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Trade)</td>
            <td><input type="hidden" asp-for="Trade" class="form-control" readonly id="Trade" value="@Model.Trade" /> @Html.DisplayFor(model => model.Trade)</td>
        </tr>
        <tr id="UnitPrice_div" class="@(Model.Trade == "以物易物" ? "d-none" : "")">
            <td><span class="text-danger">*</span>@Html.DisplayNameFor(model => model.UnitPrice)</td>
            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">NT$</span>
                    </div>
                    <input type="text" asp-for="UnitPrice" maxlength="5" pattern="\d*" class="form-control" id="UnitPrice" value="@(decimal.Round(Model.UnitPrice,0) == 0 ? "" : decimal.Round(Model.UnitPrice,0))" id="UnitPrice" placeholder="輸入價格" oninput="process(this)" />
                    <p class="d-none"></p>
                </div>
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </td>
        </tr>
    </tbody>
</table>