@model IEnumerable<CoreMVC5_UsedBookProject.Models.ChangeOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.denyreason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.denyreason)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChangeOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChangeOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChangeOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
