@using CoreMVC5_UsedBookProject.ViewModels;
@model ProductViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string[] list = { Model.Image2, Model.Image3, Model.Image4, Model.Image5, Model.Image6, Model.Image7, Model.Image8, Model.Image9 };
    list = list.Where(w => w != "無圖片").ToArray();
}
@functions {
    public string price()
    {
        return Model.UnitPrice.ToString("N0");
    }
}
<div class="row">
    <div class="col-6">
        <div class="mb-3" style="padding: 10px 75px;">
            <!-- Swiper -->
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff;" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide p-2 d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; min-width: 100px; border: 1px solid black;">
                        <img src=@($"https://cdnec.sanmin.com.tw/product_images/{Model.ISBN.Substring(3,3)}/{Model.ISBN.Substring(3,9)}.jpg") asp-append-version="true" class="m-auto" alt="@Model.Title" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" />
                    </div>
                    @if (list.Length > 0)
                    {
                        @foreach (string item in list)
                        {
                            <div class="swiper-slide d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; min-width: 100px; border: 1px solid black;">
                                <img src="/Images/Users/@Model.CreateBy/Products/@Model.ProductId/@item" asp-append-version="true" class="m-auto" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" alt="@Model.Title" />
                            </div>
                        }
                    }
                </div>
                <div class="swiper-button-next" style="color: black;"></div>
                <div class="swiper-button-prev" style="color: black;"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide d-flex align-items-center">
                        <img src=@($"https://cdnec.sanmin.com.tw/product_images/{Model.ISBN.Substring(3,3)}/{Model.ISBN.Substring(3,9)}.jpg") asp-append-version="true" class="m-auto" alt="@Model.Title" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" />
                    </div>
                    @if (list.Length > 0)
                    {
                        @foreach (var item in list)
                        {
                            <div class="swiper-slide d-flex align-items-center">
                                <img src="/Images/Users/@Model.CreateBy/Products/@Model.ProductId/@item" asp-append-version="true" class="m-auto" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" alt="@Model.Title" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2"><h2>@Model.Title</h2></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2"><h2>@Html.DisplayFor(model => model.Trade)</h2></td>
                </tr>
                @if (Model.Trade.Contains("買賣"))
                {
                    <tr>
                        <td colspan="2"><h2>NT$@price()</h2></td>
                    </tr>
                }
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ISBN)</td>
                    <td>
                        <textarea readonly>@Model.ISBN</textarea>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Author)</td>
                    <td>
                        <textarea readonly>@Model.Author</textarea>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Publisher)</td>
                    <td>
                        <textarea readonly>@Model.Publisher</textarea>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Degree)</td>
                    <td>
                        <textarea readonly>@Model.Degree</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <partial name="~/Views/Seller/DetailsTablePartial/SwiperButton.cshtml" />
    </div>
</div>