@using CoreMVC5_UsedBookProject.ViewModels;
@model BarterOrderViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "商品詳情";
}
<div class="container-fluid">
    <h1>訂單詳情</h1>
    <form action="~/Buyer/BarterOrderDetails" method="post">
        <table class="container-fluid">
            <tr><td>@Html.DisplayNameFor(model => model.OrderId)</td><td>@Model.OrderId</td></tr>
            <tr><td>@Html.DisplayNameFor(model => model.SellerId)</td><td>@Model.SellerId</td></tr>
            <tr><td>@Html.DisplayNameFor(model => model.BuyerId)</td><td>@Model.BuyerId</td></tr>
            <tr><td>@Html.DisplayNameFor(model => model.SellerName)</td><td>@Model.SellerName</td></tr>
            <tr><td>@Html.DisplayNameFor(model => model.BuyerName)</td><td>@Model.BuyerName</td></tr>
            @if (Model.Status == "待確認" || Model.Status == "已成立")
            {
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DenyReason)</td>
                    <td>
                        <div class="d-flex">
                            <textarea asp-for="DenyReason" class="form-control show-length" placeholder="輸入取消原因"></textarea>
                            <p id="DenyReason_length" class="text-right ml-4"></p>
                        </div>
                        <span asp-validation-for="DenyReason" class="text-danger"></span>
                    </td>
                </tr>
            }
            else
            {
                <tr><td>@Html.DisplayNameFor(model => model.DenyReason)</td><td>@Model.DenyReason</td></tr>
            }
            <tr><td>@Html.DisplayNameFor(model => model.ProductId)</td><td>@Model.ProductId</td></tr>
            <tr><td>@Html.DisplayNameFor(model => model.Trade)</td><td>@Model.Trade</td></tr>
            <input type="hidden" name="OrderId" class="form-control" id="OrderId" value="@Model.OrderId" readonly />
            <input type="hidden" name="trade" class="form-control" id="trade" value="@Model.Trade" readonly />
            <tr><td>@Html.DisplayNameFor(model => model.Status)</td><td>@Model.Status</td></tr>
        </table>
        <br />
        <div class="gap-2">
            @if (Model.Status == "已成立")
            {
                <input type="hidden" name="OrderId" value="@Model.OrderId">
                <input type="hidden" name="trade" value="@Model.Trade">
                <button type="submit" class="btn btn-primary" name="submit" value="完成訂單">完成訂單</button>
            }
            @if (Model.Status == "待確認" || Model.Status == "已成立")
            {
                <button type="submit" class="btn btn-primary" name="submit" value="取消訂單">取消訂單</button>
            }
            <button type="button" onclick="history.go(-1)" class="btn btn-secondary disable-onbeforeunload">取消</button>
        </div>
    </form>
</div>