@using CoreMVC5_UsedBookProject.ViewModels;
@model BarterOrderViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "交換訂單詳情";
}
<div class="container-fluid">
    <h1>交換訂單詳情</h1>
    <form action="~/Buyer/BarterOrderDetails" method="post">
        <div class="p-2 d-flex flex-column flex-md-row align-items-center product-card my-1">
            <h2>@Model.Trade - </h2>
            <h3>@Model.Status</h3>
        </div>
        <h2>@Html.DisplayNameFor(model => model.DenyReason)</h2>
        <div class="p-2 d-flex flex-column flex-md-row align-items-center product-card my-1">
            <p>@Model.DenyReason</p>
            @if (Model.Status == "待確認" || Model.Status == "已成立")
            {
                <div class="d-flex w-100">
                    <textarea asp-for="DenyReason" class="form-control show-length" placeholder="輸入取消原因"></textarea>
                    <p id="DenyReason_length" class="text-right ml-4"></p>
                </div>
                <span asp-validation-for="DenyReason" class="text-danger"></span>
            }
            else
            {
                <p>@Model.DenyReason</p>
            }
        </div>
        <div class="d-flex">
            <div class="w-50">
                <h2>對方的商品 @Model.BuyerName</h2>
                <div class="p-2 product-card my-1">
                    <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; background-color: white; max-width: 200px; background-color: white;">
                        <img src=@($"https://cdnec.sanmin.com.tw/product_images/{Model.BuyerISBN.Substring(3,3)}/{Model.BuyerISBN.Substring(3,9)}.jpg") asp-append-version="true" class="m-auto" alt="@Model.BuyerTitle" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" />
                    </div>
                    <div class="container-fluid my-2">
                        <h2>@Model.BuyerTitle</h2>
                        <h3>@Model.Trade</h3>
                        <p><span>@Html.DisplayNameFor(model => model.BuyerISBN) </span><span>@Model.BuyerISBN</span></p>
                        <p><span>@Html.DisplayNameFor(model => model.BuyerAuthor) </span><span>@Model.BuyerAuthor</span></p>
                    </div>
                    <div class="action d-flex justify-content-around align-items-center">
                        <a href="@Url.Action("Details", "Buyer", new {ProductId = Model.BuyerProductId})" class="btn btn-info p-3"><i class="bi bi-info-circle"></i> 商品詳情</a>
                    </div>
                </div>
            </div>
            <div class="w-50">
                <h2>我的商品 @Model.SellerName</h2>
                <div class="p-2 product-card my-1">
                    <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; max-width: 200px; background-color: white;">
                        <img src=@($"https://cdnec.sanmin.com.tw/product_images/{Model.SellerISBN.Substring(3,3)}/{Model.SellerISBN.Substring(3,9)}.jpg") asp-append-version="true" class="m-auto" alt="@Model.SellerTitle" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" />
                    </div>
                    <div class="container-fluid my-2">
                        <h2>@Model.SellerTitle</h2>
                        <h3>@Model.Trade</h3>
                        <p><span>@Html.DisplayNameFor(model => model.SellerISBN) </span><span>@Model.SellerISBN</span></p>
                        <p><span>@Html.DisplayNameFor(model => model.SellerAuthor) </span><span>@Model.SellerAuthor</span></p>
                    </div>
                    <div class="action d-flex justify-content-around align-items-center">
                        <a href="@Url.Action("Details", "Buyer", new {ProductId = Model.SellerProductId})" class="btn btn-info p-3"><i class="bi bi-info-circle"></i> 商品詳情</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            @if (Model.Status == "已成立")
            {
                <input type="hidden" name="OrderId" value="@Model.OrderId">
                <input type="hidden" name="trade" value="@Model.Trade">
                <button type="submit" class="btn btn-primary mr-2" name="submit" value="完成訂單">完成訂單</button>
            }
            @if (Model.Status == "待確認" || Model.Status == "已成立")
            {
                <button type="submit" class="btn btn-danger mr-2" name="submit" value="取消訂單">取消訂單</button>
            }
            <button type="button" onclick="history.go(-1)" class="btn btn-secondary disable-onbeforeunload">返回</button>
        </div>
    </form>
</div>
@section topCSS{
    <link href="~/css/seller/mysales.css" asp-append-version="true" rel="stylesheet" />
}