@using CoreMVC5_UsedBookProject.ViewModels;
@model MySalesViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = $"我的銷售({ViewBag.trade})";
}

<div class="container-fluid pb-5 gap-2">
    <h1>訂單紀錄(@ViewBag.trade)</h1>
    <ul class="nav nav-pills my-3 gap-10px status">
        <li class="nav-item d-flex">
            <a href="@Url.Action("MySales", "Buyer", new {status = "全部", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "全部" ? "color: red; border-bottom: 2px solid red;" : "")">全部</a>
            <span style="color: red;">@Model.OrdersCount["全部"] </span>
        </li>
        <li class="nav-item d-flex">
            <a href="@Url.Action("MySales", "Buyer", new {status = "待確認", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "待確認" ? "color: red; border-bottom: 2px solid red;" : "")">待確認</a>
            <span style="color: red;">@Model.OrdersCount["待確認"] </span>
        </li>
        <li class="nav-item d-flex">
            <a href="@Url.Action("MySales", "Buyer", new {status = "已成立", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "已成立" ? "color: red; border-bottom: 2px solid red;" : "")">已成立</a>
            <span style="color: red;">@Model.OrdersCount["已成立"] </span>
        </li>
        <li class="nav-item d-flex">
            <a href="@Url.Action("MySales", "Buyer", new {status = "不成立", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "不成立" ? "color: red; border-bottom: 2px solid red;" : "")">不成立</a>
            <span style="color: red;">@Model.OrdersCount["不成立"] </span>
        </li>
        <li class="nav-item d-flex">
            <a href="@Url.Action("MySales", "Buyer", new {status = "已完成", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "已完成" ? "color: red; border-bottom: 2px solid red;" : "")">已完成</a>
            <span style="color: red;">@Model.OrdersCount["已完成"] </span>
        </li>
        <li class="nav-item d-flex">
            <a href="@Url.Action("MySales", "Buyer", new {status = "待取消", trade = ViewBag.trade})" class="text-decoration-none" style="@(Model.StatusPage == "待取消" ? "color: red; border-bottom: 2px solid red;" : "")">待取消</a>
            <span style="color: red;">@Model.OrdersCount["待取消"] </span>
        </li>
    </ul>
    @if (Model.Orders.Count > 0)
    {
        @foreach (var item in Model.Orders)
        {
            <div class="p-2 d-flex flex-column flex-md-row align-items-center product-card my-1 gap-5px">
                <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; background-color: white; max-width: 200px;">
                    <img src="../Images/Products/@item.ProductId/@item.Image1" asp-append-version="true" class="m-auto" alt="@item.Title" onerror="errorLoad(this)" />
                </div>
                <table class="container-fluid">
                    <tr><td>@Html.DisplayNameFor(model => model.Order.SellerName)</td><td>@item.SellerName</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Order.BuyerName)</td><td>@item.BuyerName</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Order.DenyReason)</td><td>@item.DenyReason</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Order.ProductId)</td><td>@item.ProductId</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Order.Trade)</td><td>@item.Trade</td></tr>
                    @if (item.Trade == "金錢")
                    {
                        <tr><td>@Html.DisplayNameFor(model => model.Order.UnitPrice)</td><td>@(decimal.Round(item.UnitPrice, 0) == 0 ? "" : decimal.Round(item.UnitPrice, 0))</td></tr>
                    }
                    <tr><td>@Html.DisplayNameFor(model => model.Order.Status)</td><td>@item.Status</td></tr>
                </table>
                <div class="action d-flex flex-row flex-md-column justify-content-between align-items-center">
                    <a href="@Url.Action("Details", "Buyer", new {ProductId = item.ProductId})" class="btn btn-info mt-2"><i class="bi bi-info-circle"></i> 商品詳情</a>
                    <a href="@Url.Action("OrderDetails", "Buyer", new {OrderId = item.OrderId, trade = ViewBag.trade})" class="btn btn-info mt-2"><i class="bi bi-info-circle"></i> 訂單確認</a>
                </div>
            </div>
        }
    }
    else
    {
        <h2 class="text-center my-5">沒有符合的商品</h2>
    }
    <partial name="_NowPageMySalesPartial" />
</div>
@section topCSS{
    <link href="~/css/seller/mysales.css" asp-append-version="true" rel="stylesheet" />
}