@using CoreMVC5_UsedBookProject.ViewModel;
@model MyProductsViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row py-2">
        <p>find @Model.Products.Count products</p>
        @if (Model.Products.Count > 0)
        {
            @foreach (var item in Model.Products)
            {
                <div class="col-12 col-sm-6 col-xl-4">
                    <div class="card p-2 m-auto" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      
                        <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; background-color: white; max-width: 200px;">

                            <a href="@Url.Action("Details", "Buyer", new {ProductId=@item.ProductId})" style="width: 100%; aspect-ratio: 1 / 1; background-color: white; max-width: 200px;"><img src="../Images/Products/@item.ProductId/@item.Image1" class="m-auto w-100" alt="@item.Title" /></a>
                          
                        </div>
                        <table class="container-fluid my-2">

                            <tr><td>@Html.DisplayNameFor(model => model.Product.Title)</td><td>@item.Title</td></tr>
                            <tr><td>@Html.DisplayNameFor(model => model.Product.ISBN)</td><td>@item.ISBN</td></tr>
                            <tr><td>@Html.DisplayNameFor(model => model.Product.Author)</td><td>@item.Author</td></tr>
                            <tr><td>@Html.DisplayNameFor(model => model.Product.Trade)</td><td>@item.Trade</td></tr>
                            <tr><td>@Html.DisplayNameFor(model => model.Product.UnitPrice)</td><td>@(decimal.Round(item.UnitPrice, 0) == 0 ? "" : decimal.Round(item.UnitPrice, 0))</td></tr>

                        </table>
                    </div>
                </div>
            }
        }
    </div>
</div>
   
    
@section topCSS{
    <link href="~/css/seller/myproducts.css" rel="stylesheet" />
}
@section endJS{
    
}