@using CoreMVC5_UsedBookProject.ViewModels;
@model MyProductsViewModel
@{
    ViewData["Title"] = "搜尋商品";
}
<div class="container-fluid">
    <h1>搜尋商品</h1>
    <h2>@ViewBag.Count</h2>
    <div class="row py-2">
        @if (Model.Products.Count > 0)
        {
            @foreach (var item in Model.Products)
            {
                <div class="col-12 col-xl-6">
                    <div class="p-2 m-auto product-card d-flex w-100 h-100">
                        <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; max-width: 200px;">
                            <a href="@Url.Action("Details", "Home", new {ProductId=@item.ProductId})" style="width: 100%; aspect-ratio: 1 / 1; max-width: 200px;" class="d-flex align-items-center"><img src="/Images/Users/@item.CreateBy/Products/@item.ProductId/@item.Image1" class="m-auto w-100" alt="@item.Title" onerror="this.src='/DeafultPictures/DeafultBookPicture.jpg'" /></a>
                        </div>
                        <div class="container-fluid my-2">
                            <h2>@item.Title</h2>
                            <h2>@item.Trade</h2>
                            @if (item.Trade.Contains("買賣"))
                            {
                                <h2>NT$@(decimal.Round(item.UnitPrice, 0) == 0 ? "" : decimal.Round(item.UnitPrice, 0))</h2>
                            }
                            <p><span>@Html.DisplayNameFor(model => model.Product.ISBN) </span><span>@item.ISBN</span></p>
                            <p><span>@Html.DisplayNameFor(model => model.Product.Author) </span><span>@item.Author</span></p>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                            {
                                @if (item.CreateBy == User.Claims.FirstOrDefault(c => c.Type.Contains("nameidentifier")).Value)
                                {
                                    <h3 class="text-danger">自己的商品</h3>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h2 class="text-center my-5 w-100">沒有符合的商品</h2>
        }
    </div>
</div>
   
    
@section topCSS{
    <link href="~/css/seller/myproducts.css" asp-append-version="true" rel="stylesheet" />
}