@using CoreMVC5_UsedBookProject.ViewModels;
@model MyProductsViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <h1>@ViewBag.Count</h1>
    <div class="row py-2">
        @if (Model.Products.Count > 0)
        {
            @foreach (var item in Model.Products)
            {
                <div class="col-12 col-xl-6">
                    <div class="p-2 m-auto product-card d-flex" style="width: 100%;">
                        <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; max-width: 200px;">
                            <a href="@Url.Action("Details", "Home", new {ProductId=@item.ProductId})" style="width: 100%; aspect-ratio: 1 / 1; max-width: 200px;" class="d-flex align-items-center"><img src="/Images/Products/@item.ProductId/@item.Image1" class="m-auto w-100" alt="@item.Title" onerror="this.src='../pictures/DeafultBookPicture.jpg'" /></a>
                        </div>
                        <div class="container-fluid my-2">
                            <h2>@item.Title</h2>
                            <h2>@item.Trade</h2>
                            @if (item.Trade.Contains("買賣"))
                            {
                                <h2>NT$@(decimal.Round(item.UnitPrice, 0) == 0 ? "" : decimal.Round(item.UnitPrice, 0))</h2>
                            }
                            <p><span>@Html.DisplayNameFor(model => model.Product.ISBN) </span><span>@item.ISBN</span></p>
                            <p><span>@Html.DisplayNameFor(model => model.Product.Author) </span><span>@item.Author</span></p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
   
    
@section topCSS{
    <link href="~/css/seller/myproducts.css" asp-append-version="true" rel="stylesheet" />
}