@using CoreMVC5_UsedBookProject.ViewModels;
@model WishsViewModel
@{
    ViewBag.Title = $"願望清單";
}
<div class="container">
    <h1 class="mt-4" style="background-color: #92705A; border-radius: 15px 15px 0 0; width: 170px; margin-bottom: 0; text-align: center;">願望清單</h1>
    <div class="p-2" style="background-color: #92705A; border-radius: 0 15px 15px 15px;">
        <div class="row">
            @if (Model.Wishs.Count > 0)
            {
                @foreach (var item in Model.Wishs)
                {
                    <div class="col-3 col-xl-2 mt-4">
                        <div class="product-shop-card m-auto">
                            <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; max-width: 200px; background-color: #A0522D50;">
                                <img src=@($"https://cdnec.sanmin.com.tw/product_images/{item.ISBN.Substring(3, 3)}/{item.ISBN.Substring(3, 9)}.jpg") asp-append-version="true" class="m-auto" alt="@item.Title" onerror="this.onerror='';this.src='/DeafultPictures/DeafultBookPicture.jpg'" />
                            </div>
                            <div class="container-fluid my-2">
                                <p title="@item.Title">@item.Title</p>
                                <p class="mb-0">
                                    <span>@Html.DisplayNameFor(model => model.ISBN):</span>
                                    <span title="@item.ISBN">@item.ISBN</span>
                                </p>
                                <p class="mb-0">
                                    <span>@Html.DisplayNameFor(model => model.UserName):</span>
                                    <span title="@item.UserName">@item.UserName</span>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h2 class="my-5 text-center w-100" style="color:white;">願望清單是空的</h2>
            }
        </div>
    </div>
</div>
<partial name="_NowPageWishsPartial" />
@section topCSS{
    <link href="~/css/home/myproducts.css" asp-append-version="true" rel="stylesheet" />
}
@section endJS{
   
    <partial name="_ValidationScriptsPartial" />
}