@using CoreMVC5_UsedBookProject.ViewModels;
@model WishsViewModel
<div class="container-fluid">
    <h2>願望清單</h2>
    @if (Model.Wishs.Count > 0)
    {
        @foreach (var item in Model.Wishs)
        {
            <div class="p-2 d-flex flex-column flex-md-row align-items-center product-card my-1 gap-5px">
                <div class="m-auto d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; background-color: white; max-width: 200px;">
                    <img src="~/icon/WishsDeafultPicture.jpg" asp-append-version="true" class="m-auto" alt="@item.Title" onerror="this.src='~/icon/WishsDeafultPicture.jpg'" />
                </div>
                <table class="container-fluid">
                    <tr><td>@Html.DisplayNameFor(model => model.Title)</td><td>@item.Title</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.ISBN)</td><td>@item.ISBN</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.UserName)</td><td>@item.UserName</td></tr>
                </table>
            </div>
        }
    }
    else
    {
        <h2 class="text-center my-5">願望清單是空的</h2>
    }
</div>
@section topCSS{
    <link href="~/css/seller/myproducts.css" asp-append-version="true" rel="stylesheet" />
}
@section endJS{
    <partial name="_ValidationScriptsPartial" />
}