@model CoreMVC5_UsedBookProject.Models.MoneyOrder

@{
    ViewData["Title"] = "MoneyOrderResul";
}

<h1>MoneyOrderResult</h1>

<div>
    <h4>MoneyOrder</h4>
    <hr />
    <div class="row">
    <div class="col-6">
    <image src="https://scontent.ftpe8-1.fna.fbcdn.net/v/t45.1600-4/349571631_23854623475330454_1838867655574759157_n.jpg?stp=cp0_dst-jpg_p526x296_q75_spS444&_nc_cat=1&ccb=1-7&_nc_sid=68ce8d&_nc_ohc=8IAy3nnj9FYAX8A5jL4&_nc_ht=scontent.ftpe8-1.fna&oh=00_AfCsPAIQaOo3BOvfvGqkxafuXQ1xeZK9hFXYY61BEVOHqA&oe=648C2BEF"></image>
    </div>

        <dl class="row col-6" >
            <div class="w-100">
                <dt style="width:30px">
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>
                <dd style="width:calc(100%-30px)">
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
            </div>
            <div class="w-100 d-block">
                <dt style="width:30px">
                    @Html.DisplayNameFor(model => model.ProductId)
                </dt>
                <dd style="width:calc(100%-30px)">
                    @Html.DisplayFor(model => model.ProductId)
                </dd>
            </div>
            <div class="w-100">
                <dt style="width:30px">
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </dt>
                <dd style="width:calc(100%-30px)">
                    @Html.DisplayFor(model => model.UnitPrice)
                </dd>
            </div>


            
            <div class="w-100">
                <dt style="width:30px">
                    @Html.DisplayNameFor(model => model.Buyer)
                </dt>
                <dd style="width:calc(100%-30px)">
                    @Html.DisplayFor(model => model.Buyer)
                </dd>
            </div>
            <div class="w-100">
                <dt style="width:30px">
                    @Html.DisplayNameFor(model => model.Seller)
                </dt>
                <dd style="width:calc(100%-30px)">
                    @Html.DisplayFor(model => model.Seller)
                </dd>
            </div>
    </dl>
</div>
   </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MoneyOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
