@using System.Security.Claims
@using CoreMVC5_UsedBookProject.ViewModels;
@model UserViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "我的資訊";
}
<div class="container-fluid pb-5 gap-10px">
    <h1>我的資訊</h1>
    <h3 class="text-primary">@TempData["Message"]</h3>
    <div class="p-2 d-flex flex-column flex-md-row align-items-center product-card my-1 gap-5px">
        <div id="img1Div" class="mb-3 p-2 d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; max-width: 200px; background: white; border: 1px solid black; overflow: hidden;">
            <img src="/Images/Users/@Model.Id/@Model.UserIcon" asp-append-version="true" alt="img1" id="img1" onerror="this.src='/DeafultPictures/EmptyUserIcon.png'">
        </div>
        <div class="container-fluid">
            <h2>@Html.DisplayNameFor(model => model.Id)</h2><p>@Html.DisplayFor(model => model.Id)</p>
            <h2>@Html.DisplayNameFor(model => model.Name)</h2><p>@Html.DisplayFor(model => model.Name)</p>
            <h2>@Html.DisplayNameFor(model => model.Nickname)</h2><p>@Html.DisplayFor(model => model.Nickname)</p>
            <h3>@Html.DisplayNameFor(model => model.Email)</h3><p>@Html.DisplayFor(model => model.Email)</p>
            <h3>@Html.DisplayNameFor(model => model.PhoneNo)</h3><p>@Html.DisplayFor(model => model.PhoneNo)</p>
        </div>
    </div>
    <p>你所屬群組是</p>
    <ul>
        @foreach (var roleClaim in User.Claims.Where(c => c.Type == ClaimTypes.Role))
        {
            <li>@roleClaim.Value</li>
        }
    </ul>
</div>
@section topCSS{
    <link href="~/css/account/details.css" rel="stylesheet" />
    <link href="~/css/account/changeuserinfo.css" asp-append-version="true" rel="stylesheet" />
}