@using System.Security.Claims
@model UserViewModel
@{

}
<div class="container-fluid pb-5 gap-10px">
    <h1>我的資訊</h1>
    <table class="container-fluid">
        <tr><td>@Html.DisplayNameFor(model => model.Id)</td><td>@Html.DisplayFor(model => model.Id)</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.Name)</td><td>@Html.DisplayFor(model => model.Name)</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.Nickname)</td><td>@Html.DisplayFor(model => model.Nickname)</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.Email)</td><td>@Html.DisplayFor(model => model.Email)</td></tr>
        <tr><td>@Html.DisplayNameFor(model => model.PhoneNo)</td><td>@Html.DisplayFor(model => model.PhoneNo)</td></tr>
    </table>
    <p>你所屬群組是</p>
    <ul>
        @foreach (var roleClaim in User.Claims.Where(c => c.Type == ClaimTypes.Role))
        {
            <li>@roleClaim.Value</li>
        }
    </ul>
</div>
@section topCSS{
    <link href="~/css/account/details.css" rel="stylesheet" />
}